<div class="row">
  <form class="col s12 m7" [formGroup]="form" (ngSubmit)="submit(form.value)" novalidate>
    <div class="card">
      <div class="card-content grey-text text-darken-4">

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="name"
                   name="name"
                   class="validate"
                   formControlName="name"
                   [ngClass]="{'invalid': nameField.errors && !nameField.pristine}">
            <label class="active" for="name">Name</label>
            <div *ngIf="nameField.errors?.required && !nameField.pristine" class="error-msg">
              THIS FIELD IS REQUIRED!!!!!
            </div>
            <div *ngIf="nameField.errors?.minlength && !nameField.pristine" class="error-msg">
              At least three characters pl0x
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email"
                   name="email"
                   class="validate"
                   formControlName="email"
                   [ngClass]="{'invalid': emailField.errors && !emailField.pristine}">
            <label class="active" for="email">Email</label>
            <div *ngIf="emailField.errors?.validateEmail && !emailField.pristine" class="error-msg">
              Please fill in a correctly formatted email. KTHXBAI
            </div>
            <div *ngIf="emailField.errors?.checkEmailAvailability && !emailField.pristine" class="error-msg">
              Email already taken. Sorry
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">phone</i>
            <input id="phone" name="phone" class="validate" formControlName="phone">
            <label class="active" for="phone">Phone</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">cake</i>
            <input id="birthday" type="date" name="birthday" class="validate" formControlName="birthday">
            <label class="active" for="birthday">Birthday</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">public</i>
            <input id="website" name="website" class="validate" formControlName="website">
            <label class="active" for="website">Website</label>
          </div>
        </div>

        <fieldset formGroupName="address">
          <legend><i class="material-icons prefix">location_city</i> Address</legend>

          <div class="row">
            <div class="input-field col s12">
              <input id="street" type="text" name="street" class="validate" formControlName="street">
              <label class="active" for="street">Street</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="zip" type="text" name="zip" class="validate" formControlName="zip">
              <label class="active" for="zip">Zipcode</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="city" name="city" type="text" class="validate" formControlName="city">
              <label class="active" for="city">City</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="country" type="text" name="country" class="validate" formControlName="country">
              <label class="active" for="country">Country</label>
            </div>
          </div>
        </fieldset>
      </div>

     <div class="card-action">
        <a class="btn" [routerLink]="['/']">Cancel</a>
        <button type="submit" class="btn" [disabled]="form.invalid">Save</button>
      </div>
    </div>
  </form>
</div>
