<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large"><i class="large material-icons" [routerLink]="['/new']">add</i></a>
</div>
<input type="text" (input)="terms$.next($event.target.value)"/>
<ul class="collection">
  <li class="collection-item avatar" *ngFor="let contact of contacts | async">
    <img [src]="contact.image" alt="" class="circle">
    <span class="title">
    <a [routerLink]="['/marsupilami', contact.id]">
      {{contact.name}}
    </a>
    </span>
  </li>
</ul>
